* {
  font-family: Karla, sans-serif;
  font-style: normal;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  margin: 25px auto;
  justify-content: center;
}

.column {
  text-align: center;
}

.column-half {
  width: calc(85% / 2);
  margin-right: 55px;
}

.column-picture {
  width: 15%;
}

h1 {
  font-size: 68px;
}

h1,
h4,
button {
  font-weight: 700;
}

h4 {
  margin-bottom: 0;
  width: 250px;
}

.uppercase {
  text-transform: uppercase;
}

p {
  max-width: 850px;
  line-height: 30px;
}

button {
  width: 175px;
  height: 40px;
  border: 2px solid orangered;
  background-color: white;
  color: orangered;
}
